*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #FFE6A7;
}


.logo{
    color: #000;
    font-size: 24px;
    font-weight: bold;    
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.logo span{
    font-family: 'Roboto', sans-serif;
    color: #4e0d0c;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-nav{
    margin-right: 100px;
    background-color: #4e0d0c;


}

.nav-item{
    font-size: 0.8rem;
    margin-right: 10px;
}

.navbar-toggler{
    background-color: #000;
}

main{
    height: 100vh;
    width: 100%;
    background-image: url(../imagenes/Main.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.main-recording{
    height: 100vh;
    width: 100%;
    background-image: url(../imagenes/Recording\ 1.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}

.main-mixing{
    height: 100vh;
    width: 100%;
    background-image: url(../imagenes/Mixing.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}

.main-mastering{
    height: 100vh;
    width: 100%;
    background-image: url(../imagenes/Mastering.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}

.card-title-mixing{
    font-size: 24px;
}

a{
    color: #000;
}

.card-middle{
    width: 400px;
    background: rgba(217, 217, 217, 0.81);
    border-radius: 15px;
    text-align: center;
}

.card-middle-mixing{
    width: 400px;
    background: rgba(217, 217, 217, 0.81);
    border-radius: 15px;
    text-align: center;
}

.middle-boton :hover{
    color: #000000;
    border: 2px dashed #ebd82c;
}

.formulario{
    height: 750px;
    width: 100%;
    background-color: #BB9457;
}

.form-box{
    max-width: 800px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.form-box .form{
    width: 100%;
}

.form-box .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-box .form .input_field label{
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 18px;

}

.form-box .form .input_field .input,
.form-box .form .input_field .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d4dbd9;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.form-box .form .input_field .textarea{
    resize: none;
    height: 175px;
}

.form-box .form .input_field .input:focus,
.form-box .form .input_field .textarea:focus{
    border: 1px solid #fec107;
}

.form-box .form .input_field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 18px;
    border: 0;
    background: #FFE6A7;
    color: #000;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.form-box .form .input_field:last-child{
    margin-bottom: 0;
}

.form-box .form .input_field .btn:hover{
    background: #ffd658;
}


.form{
    font-family: 'Roboto', sans-serif;
}

.form-title{
    background-color: #BB9457;
    text-align: center;
    font-size: 46px;
    font-family: 'Roboto', sans-serif;
}

h4{
    text-align: center;
    font-size: 46px;
    font-family: 'Roboto', sans-serif;
}

.container-fluid{
    width: 100%;
    background-color: #6F1D1B;
}

.tarjetitas{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.item{
    background-color: #FFE6A7;

}

.item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #fcda84;
    border: 1px solid #432818;

}

.icono-card{
    font-size: 100px;
    margin-top: 5px;
}

.titulo-card{
    font-size: 30px;
    font-family: 'Roboto', medium;
    margin-bottom: 0px;
    margin-top: -35px;

}

.card-text{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: none;
    text-align: start;
    line-height: 55px;
    margin-top: -20px;
    margin-left: 25px;
    padding: 0;
    list-style-position: inside;
}

.card-text li{
    text-align: start;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.card-boton{
    background-color: #4e0d0c;
    border: 1px solid white;
}

.card-boton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #99582ada;
    border: 1px solid #432818b4;

}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #4e0d0c;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;

}

footer p{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 15px;
    color: #fff;
}

footer i{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 10px;
    color: #fff;
}

.contacto {
    display: flex;
    justify-content: flex-end;
    background-color: #FFE6A7;
    padding: 20px;
    margin-right: 200px;
    margin-bottom: 5px;

}

.contacto a{
    text-decoration: none;
    color: #000;
}

.contacto:hover{
    color: #4e0d0c;
    border: 2px dotted #000;
}

@media (min-width: 1200px){

    .navbar-nav {
        background: #4e0d0c;
        border-radius: 15px;
  
    }

    .navbar-nav a{
        color: #FFFF;
    } 

    .card-middle{
        width: 800px;
    }
    
    .card-middle-mixing{
        width: 650px;
    }

    .card-title-mixing{
        font-size: 36px;
    }

    .item{
        max-width: 400px;
    }

    .tarjetitas{
        max-width: 1900px;
        flex-direction: row;
        gap: 6rem;   
    }
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }

    .formulario{
        height: 850px;
    }

    .form-box{
        max-width: 900px;
    }

    .contacto{
        padding: 7px;
    }

}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

@media (max-width: 1200px) {

    .navbar-nav{
        width: 50%;
    }

    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    } 

    .form-box{
        max-width: 500px;
        width: 100%; 
    }
    
    footer{
        padding: 0;   
        display: flex;
        flex-direction: column;
        margin-bottom: 1px;
    }
    
    footer i{
        padding: 10px;
        font-size: 20px;
    }

    footer p{
        width: 100%;
        padding: 10px;
        justify-content: center;
        font-size: 14px;
    }

    .contacto{

        padding: 10px;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 0px;
        display: flex;

    }

    
}
